alias ll="ls -la"
alias links="find . -maxdepth 1 -type l -ls" 
alias tmuxx="tmux attach -t tmux || tmux new -s tmux"
alias tmuxa="tmux attach -t "
alias tmuxl="tmux list-sessions"
alias ag="ag --path-to-ignore ~/.ignore"
alias cr="cargo run"
alias cb="cargo build"
alias cbr="cargo build --release"
alias sz="source ~/.zshrc"
alias ez="vim ~/.zshrc"

alias tmuxx="tmux attach -t main || tmux new -s main"

alias gdt="git difftool"
alias gc="git commit -m "
alias gpushf="git push --force"

toggle_repeat() {
  if [[ -z "${XSET_R_STATE}" ]]; then
    XSET_R_STATE="ON"
    xset r on
  elif [[ "$XSET_R_STATE" == "OFF" ]]; then
    XSET_R_STATE="ON"
    xset r on
  else
    XSET_R_STATE="OFF"
    xset r off
  fi
}

